*.a
*.dylib
*.la
*.o
*.so
.deps
.dirstamp
.libs
/aclocal.m4
/autom4te.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/documentation
/Doxyfile
/install-sh
/libtool
/ltmain.sh
/m4
/Makefile
/Makefile.in
/missing
/source/config.h
/source/config.h.in
stamp-*

